
.movie {
  display: flex;
  padding: 3px;
  border: 2px solid;
  border-color: lightskyblue;
  background-color: lightcyan;
  width: 80%;
}
@media screen and (max-width: 600px) {
  .movie {
    width: 95%;
  }
}

.movieInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 3px;
}

img {
  text-align: center;
  flex-basis: 40%;
  display: block;
  width: 120px;
  height: 160px;
}

.text {
  font-size: 20px;
  flex-direction: column;
  display: block;
}

.thumbButtons {
  display: flex;
  text-align: right;
  display: flex;
  flex-direction: flex-end;
}
.thumbUp {
  padding: 20pt;
  color: green;
}
.thumbDown {
  padding: 20pt;
  color: red;
}
