.movie {
  display: flex;
  align-items: left;
  justify-content: flex-start;
  position: relative;
}

img {
  text-align: center;
  flex-basis: 40%;
  display: block;
  width: 150px;
  height: 200px;
}

.text {
  font-size: 20px;
  flex-direction: column;
  display: block;
}

.thumbButtons {
  display: flex;
  text-align: right;
  display: flex;
  flex-direction: flex-end;
}
.thumbUp {
  padding: 20pt;
  color: green;
}
.thumbDown {
  padding: 20pt;
  color: red;
}
